# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/owllemwl/owllow-app"
PassengerBaseURI "/"
PassengerNodejs "/home/owllemwl/nodevenv/owllow-app/22/bin/node"
PassengerAppType node
PassengerStartupFile server.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
